@import "tailwindcss";

/* @plugin "@tailwindcss/typography"; */

@theme {
  --color-beige-500: rgb(152, 144, 139);
  --color-beige-100: rgb(248, 244, 240);

  --color-grey-900: rgb(32, 31, 36);
  --color-grey-500: rgb(105,104, 104);
  --color-grey-300: rgb(179, 179, 179);
  --color-grey-100: rgb(242, 242, 242);

  --color-green: rgb(39, 124, 120);
  --color-yellow: rgb(242, 205, 172);
  --color-cyan: rgb(130, 201, 215);
  --color-navy: rgb(98, 96, 112);
  --color-red: rgb(201, 71, 54);
  --color-purple-dark: rgb(130, 108, 176);

  --color-purple-light: rgb(175, 129, 186);
  --color-turquoise: rgb(89, 124, 124);
  --color-brown: rgb(147, 103, 79);
  --color-magenta: rgb(147, 79, 111);
  --color-blue: rgb(63, 130, 178);
  --color-navy-grey: rgb(151, 160, 172);
  --color-army-green: rgb(127, 145, 97);
  --color-gold: rgb(202, 179, 97);
  --color-orange: rgb(190, 108, 73);

  --color-white: rgb(255, 255, 255);

  --spacing-500: 2.5rem; /* 40px */
  --spacing-400: 2rem; /* 32px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-250: 1.25rem; /* 20px */
  --spacing-200: 1rem; /* 16px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-50: 0.25rem; /* 4px */
}

body {
  font-family: var(--font-public), Arial, Helvetica, sans-serif; 

}

.text-1 {
font-weight: 700;
font-size: var(--spacing-400);
line-height: 120%;
}

.text-2 {
font-weight: 700;
font-size: var(--spacing-250);
line-height: 120%;
}

.text-3 {
font-weight: 700;
font-size: var(--spacing-200);
line-height: 150%;
}

.text-4, .text-4-bold {
font-weight: 400;
font-size: 0.875rem;
line-height: 150%;
}

.text-4-bold {
  font-weight: 700;
}

.text-5, .text-5-bold {
font-weight: 400;
font-size: var(--spacing-150);
line-height: 150%;
}

.text-5-bold {
  font-weight: 700;
}
